@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    outline: 2px solid red;
} */
*::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
*{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.dang {
    color: white;
    font-family: 'Righteous', serif;
    text-shadow: .03em .03em 0 hsla(230,40%,50%,1), .08em .08em .1em rgb(0, 0, 0);
    }
   